:root {
    --main-color: whitesmoke;
    --second-color: lightslategray;
    --third-color: darkslategray; 
    --fourth-color: rgb(236, 108, 76); /* color code for the icons from open weather*/
    --main-font: 
}

body {
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.4em;
}

header {
    color:var(--fourth-color);
    background-color: var(--third-color);
    height: 13vh;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#header-left {
    flex-grow: 1.3;
}

input {
    width: 50%;
    background-color: var(--main-color);
    height: 1.2rem;
}

button {
    color: var(--third-color);
    background-color: var(--main-color);
}

button:hover {
    background-color: var(--fourth-color);
}

#city-search-box {
    color: var(--third-color);
    background-color: var(--main-color);
}

#header-right {
    display: flex;
    flex-direction: column;
    align-self: bottom;
}

.header-right-btn {
    padding: 5px;
    margin: 4%;
}

main {
    height: 79vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    color: var(--third-color);
}

#upper-section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#upper-section-left {
    display: flex;
    flex-direction: column;
    flex-grow: 3;
    width: 50%;
}

.content-box {
    padding: 7px;
    margin-left: 3%;
}

#city-box {
    font-size: 3em;
    margin-bottom: -5px;
}

#temp-box {
    border: 2px solid black;
    box-shadow: 5px 5px var(--third-color);
}

#map {
    width: 500px;
    height: 500px;
}

.hidden {
    visibility: hidden;
    animation: fadeOut 1s;
}

.visible {
    visibility: visible;
    animation: fadeIn 1s;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
  }

/* footer */
.project-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    line-height: 20%;
    height: 7vh;
    color:var(--fourth-color);
    background-color: var(--third-color);
}
.fa-brands, .fa-circle-left {
    transition: transform 0.3s ease-in-out;
}

.fa-brands:hover {
    transform: rotate(360deg);
}

.fa-circle-left:hover {
    transform: rotate(360deg);
}